*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
    font-family: 'Gilroy-normal', sans-serif;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
}

img{
    max-width: 100%;
    display: block;
}

.grid{
    max-width: 192rem;
    padding: 0 0.8rem;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* TELA DE LOGIN */

body{
    background-image: url(../img/bg-gradient.jpg);
}

/* CABEÇALHO DA PÁGINA */

header{
    background-color: rgba(0,0,0,.4);
    height: 6.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .grid .logo img{
    height: 3.2rem;
    width: 12rem;
}

/* SEÇÃO FORMULÁRIO */

section .grid .title{
    display: flex;
    justify-content: center;
    color: #f0f0f0;
    margin-top: 6rem;
}

section .grid .title h1{
    font-size: 3.2rem;
    font-weight: 600;
}

section .grid .formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 45rem;
    margin: 0 auto;
    padding-top: 4rem;
}

section .grid .formulario form{
    display: flex;
    flex-direction: column;
}

/* PARTE DO EMAIL */

section .grid .formulario form .email{
    position: relative;
    margin-bottom: -4rem;
}

section .grid .formulario form .email .mail{
    font-size: 2rem;
    padding-bottom: 0.8rem;
    background-color: rgba(0,0,0,0);
    outline: none;
    border-bottom: 0.2rem solid #acaaaa;
    margin-bottom: 5.5rem;
    padding-bottom: 0.8rem;
    padding-top: 3rem;
    width: 100%;
    color: #ffffff;
}

section .grid .formulario form .email span{
    position: absolute;
    color: #acaaaa;
    top: 3rem;
    left: 0;
    font-size: 1.8rem;
    pointer-events: none;
    transition: .3s;
}

/* PARTE DA SENHA */

section .grid .formulario form .senha{
    position: relative;
}

section .grid .formulario form .senha span{
    position: absolute;
    color: #acaaaa;
    top: 3rem;
    left: 0;
    font-size: 1.8rem;
    transition: .3s;
}

section .grid .formulario form .senha .password{
    font-size: 2rem;
    padding-bottom: 0.8rem;
    background-color: rgba(0,0,0,0);
    outline: none;
    border-bottom: 0.2rem solid #acaaaa;
    margin-bottom: 5.5rem;
    padding-bottom: 0.8rem;
    padding-top: 3rem;
    width: 100%;
    color: #ffffff;
}

/* ICONE DO CAMPO SENHA */
section .grid .formulario form .senha i{
    color: #acaaaa;
    position: absolute;
    right: 0;
    top: 2.7rem;
    font-size: 2rem;
}

/* EFEITO DE FLUATUAÇÃO NO SPAN DOS CAMPOS INPUT */

section .grid .formulario form .email input:focus ~ span,
section .grid .formulario form .email input:valid ~ span,
section .grid .formulario form .senha input:focus ~ span,
section .grid .formulario form .senha input:valid ~ span{
    transform: translateY(-1.8rem);
    font-size: 1.4rem;
}

section .grid .formulario .btn-entrar{
    background-color: #7b2abf;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: 'Gilroy', sans-serif;
    color: #f0f0f0;
    padding: 1.5rem 3.6rem;
    min-width: 31.6rem;
    border-radius: 3rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: ease .5s;
}

section .grid .formulario .btn-entrar:hover{
    background-color: #9420f3;
}

section .grid .formulario .btn-provedor{
    background-color: rgba(0,0,0,0);
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Gilroy', sans-serif;
    color: #f0f0f0;
    padding: 1.5rem 3.6rem;
    min-width: 31.6rem;
    border-radius: 3rem;
    border: 2px solid #f0f0f0;
    margin: 0 auto;
    cursor: pointer;
    transition: ease .5s;
}

section .grid .formulario .btn-provedor a{
    color: #f0f0f0;
    font-family: 'Gilroy', sans-serif;
}

section .grid .formulario .btn-provedor:hover{
    border: 2px solid #7b2abf;
}

/* SEÇÃO INFORMAÇÕES */

.links{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links .criar-conta span{
    color: #F0F0F0;
    font-size: 1.4rem;
}

.links .criar-conta span a{
    color: #bac7ff;
}

.links .esqueceu-senha{
    margin-top: 2rem;
}

.links .esqueceu-senha a{
    font-size: 1.4rem;
    color: #bac7ff;
}

/* RODAPÉ DA PÁGINA */

footer{
    background-color: #0f0535;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 35px 0;
}

.link-footer{
    display: flex;
    justify-content: center;
}

.link-footer ul{
    display: flex;
    align-items: center;
    gap: 22px;
}

.link-footer ul li a{
    color: #9e86ff;
    font-size: 1.6rem;
}

.link-footer ul .brasil a{
    font-size: 1.3rem;
}

.link-footer ul li a .globo-rodape{
    font-size: 1rem;
}