*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
    font-family: 'Gilroy-normal', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    display: block;
}

.grid{
    max-width: 192rem;
    padding: 0 0.8rem;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* TELA DE LOGIN */

body{
    background-image: url(../img/bg-gradient.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1b0554;
    background-position: top center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* CABEÇALHO DA PÁGINA */

header{
    background-color: rgba(0,0,0,.4);
    height: 6.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .grid .logo img{
    height: 3.2rem;
    width: 12rem;
}

/* SEÇÃO FORMULÁRIO */

section .grid .title{
    display: flex;
    justify-content: center;
    color: #f0f0f0;
    margin-top: 6rem;
}

section .grid .title h1{
    font-size: 3.2rem;
    font-weight: 600;
}

section .grid .formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 45rem;
    margin: 0 auto;
    padding-top: 4rem;
}

section .grid .formulario form{
    display: flex;
    flex-direction: column;
}

/* PARTE DO EMAIL */

section .grid .formulario form .email{
    position: relative;
    margin-bottom: -4rem;
}

section .grid .formulario form .email .mail{
    font-size: 2rem;
    padding-bottom: 0.8rem;
    background-color: rgba(0,0,0,0);
    outline: none;
    border-bottom: 0.2rem solid #acaaaa;
    margin-bottom: 5.5rem;
    padding-bottom: 0.8rem;
    padding-top: 3rem;
    width: 100%;
    color: #ffffff;
    transition: .2s;
}

section .grid .formulario form .email .mail:focus{
    border-bottom-color: #7b2abf;
}

section .grid .formulario form .email span{
    position: absolute;
    color: #acaaaa;
    top: 3rem;
    left: 0;
    font-size: 1.8rem;
    pointer-events: none;
    transition: .3s;
}

/* PARTE DA SENHA */

section .grid .formulario form .senha{
    position: relative;
}

section .grid .formulario form .senha span{
    position: absolute;
    color: #acaaaa;
    top: 3rem;
    left: 0;
    font-size: 1.8rem;
    transition: .3s;
}

section .grid .formulario form .senha .password{
    font-size: 2rem;
    padding-bottom: 0.8rem;
    background-color: rgba(0,0,0,0);
    outline: none;
    border-bottom: 0.2rem solid #acaaaa;
    margin-bottom: 5.5rem;
    padding-bottom: 0.8rem;
    padding-top: 3rem;
    width: 100%;
    color: #ffffff;
    transition: .2s;
}

section .grid .formulario form .senha .password:focus{
    border-bottom-color: #7b2abf;
}

/* ICONE DO CAMPO SENHA */
section .grid .formulario form .senha i{
    color: #acaaaa;
    position: absolute;
    right: 0;
    top: 2.7rem;
    font-size: 2rem;
}

/* EFEITO DE FLUATUAÇÃO NO SPAN DOS CAMPOS INPUT */

section .grid .formulario form .email input:focus ~ span,
section .grid .formulario form .email input:valid ~ span,
section .grid .formulario form .senha input:focus ~ span,
section .grid .formulario form .senha input:valid ~ span{
    transform: translateY(-1.8rem);
    font-size: 1.4rem;
}

/* =============================================== */

section .grid .formulario .btn-entrar{
    background-color: #7b2abf;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: 'Gilroy', sans-serif;
    color: #f0f0f0;
    padding: 1.5rem 3.6rem;
    min-width: 31.6rem;
    border-radius: 3rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: ease .5s;
}

section .grid .formulario .btn-entrar:hover{
    background-color: #9420f3;
}

section .grid .formulario .btn-provedor{
    background-color: rgba(0,0,0,0);
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Gilroy', sans-serif;
    color: #f0f0f0;
    padding: 1.5rem 3.6rem;
    min-width: 31.6rem;
    border-radius: 3rem;
    border: 2px solid #f0f0f0;
    margin: 0 auto;
    cursor: pointer;
    transition: ease .5s;
}

section .grid .formulario .btn-provedor a{
    color: #f0f0f0;
    font-family: 'Gilroy', sans-serif;
}

section .grid .formulario .btn-provedor:hover{
    border: 2px solid #7b2abf;
}

/* SEÇÃO INFORMAÇÕES */

.info{
    flex-grow: 1;
}

.links{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links .criar-conta span{
    color: #F0F0F0;
    font-size: 1.4rem;
}

.links .criar-conta span a{
    color: #bac7ff;
}

.links .esqueceu-senha{
    margin-top: 2rem;
}

.links .esqueceu-senha a{
    font-size: 1.4rem;
    color: #bac7ff;
}

/* RODAPÉ DA PÁGINA */

footer{
    background-color: #07032a;
    padding: 3.8rem 0;
}

.link-footer{
    display: flex;
    justify-content: center;
}

.link-footer ul{
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.link-footer ul li a{
    color: #9e86ff;
    font-size: 1.6rem;
}

.link-footer ul .brasil a{
    font-size: 1.3rem;
}

.link-footer ul li a .globo-rodape{
    font-size: 1rem;
}

/* PÁGINA DE PLANOS */

/* CABEÇALHO DA PÁGINA PLANOS */

header{
    position: relative;
}

header .link-entrar a{
    color: #bac7ff;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: absolute;
    right: 2.5rem;
    top: 40%;
}

/* SEÇÃO DE TITULOS DA PÁGINA PLANOS */

.title-plan{
    text-align: center;
    color: #F0F0F0;
}

.title-plan .secondary-title h2{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    margin: 4rem 0 1.3rem 0;
}

.title-plan .primary-title h1{
    font-size: 3.2rem;
    margin-top: 1.9rem;
}

.title-plan .descricao p{
    font-size: 1.4rem;
    margin: 1.6rem 0 1.6rem 0;
}

/* SEÇÃO PLANOS E PREÇOS */

/* CLASSE PADRÃO PARA BOX DE PREÇOS */
.box-plan{
    background: linear-gradient(180deg,hsla(0,0%,100%,.12),hsla(0,0%,100%,0));
    border-radius: 0.8rem;
    border: 0.1rem solid hsla(0,0%,100%,.3);
    margin: 2rem 1.5rem 0;
    padding: 4rem 3.2rem;
    width: 40rem;
    color: #ffffff;
}
/* ==================================== */

/* CLASSE PADRÃO PARA O BOTÃO BOX DE PREÇOS */
.btn-box{
    background-color: #7b2abf;
    font-size: 1.6rem;
    padding: 1.8rem 7rem;
    border-radius: 2em;
    transition-duration: .5s;
    cursor: pointer;
    margin: 0 auto;
}

.btn-box a{
    color: #ffffff;
    font-family: 'Gilroy', sans-serif;
    letter-spacing: 0.1rem;
}

.btn-box:hover{
    background-color: #9420f3;
}
/* ==================================== */

.section-planos{
    margin-bottom: 4rem;
}

.planos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 67%;
    margin: 0 auto;
}

/* HEADER-BOX */
.box-plan .header-box .title-box h3{
    font-size: 3.2rem;
}

.box-plan .header-box .preco-box{
    padding-bottom: 4rem;
}

.box-plan .header-box .preco-especial{
    padding-bottom: 1rem;
}

.box-plan .header-box .preco-box h4{
    font-size: 2.4rem;
}

.box-plan .header-box .preco-box h4 span{
    font-size: 1.8rem;
    color: #ffffffbf;
    font-weight: 100;
}

.box-plan .header-box .preco-box .economize{
    color: #adbefe;
    font-size: 1.6rem;
    font-weight: 100;
    padding-top: 0.7rem;
}

/* BODY-BOX */
.body-box{
    padding: 2rem 0 4rem 0rem;
    font-size: 1.6rem;
}

.body-box ul li{
    padding: 0.5rem 0rem 0;
    color: #ffffffbf;
}

/* FOOTER-BOX */
.footer-box{
    font-size: 1.6rem;
    border-top: 1px solid #ffffffbf;
}

.footer-box .dispositivo-box{
    display: flex;
    align-items: center;
    padding: 0.8rem 0.5rem;
    margin-bottom: 2rem;
}

.footer-box .dispositivo-box i{
    margin-right: 0.5rem;
    display: flex;
    align-items: flex-end;
}

.footer-box .dispositivo-box i:nth-child(2){
    font-size: 1.2rem;
}

.footer-box .btn{
    display: flex;
    justify-content: center;
}

/* PÁGINA DE CADASTRO */

.conteudo{
    margin: 0 auto;
    padding-top: 2.8rem;
}

.conteudo .banner{
    background-color: #241053;
    border-radius: 0.8rem;
    padding: 1.7rem 2.4rem;
    max-width: 66rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.conteudo .banner .title-banner h6{
    font-size: 1.8rem;
    font-weight: 600;
    color: #F0F0F0;
}

.conteudo .banner .valor{
    display: flex;
    align-items: center;
}

.conteudo .banner .valor .price{
    color: #F0F0F0;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.conteudo .conteudo-form .passo h2{
    font-size: 1.6rem;
    color: #F0F0F0;
    text-align: center;
    margin: 4rem 0 1.3rem 0;
}

.conteudo .conteudo-form .conta h1{
    font-size: 3.2rem;
    color: #F0F0F0;
    text-align: center;
    text-align: center;
    margin-top: 3rem;
}

.conteudo .conteudo-form .description p{
    padding: 1.6rem 0;
    font-size: 1.4rem;
    text-align: center;
    color: #F0F0F0;
}

/* FOMULÁRIO */

.conteudo .conteudo-form .formulario{
    padding-top: 0;
    min-width: 65rem;
    width: 100%;
}

.formulario form .nome-sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CAMPO E NOME */

.formulario form .nome-sobre .nome{
    position: relative;
    width: 50%;
    margin-bottom: 1.5rem;
}

.formulario form .nome-sobre .nome span{
    position: absolute;
    color: #acaaaa;
    top: 3rem;
    left: 0;
    font-size: 1.8rem;
    transition: .3s;
}

.formulario form .nome-sobre .nome .name{
    font-size: 2rem;
    padding-bottom: 0.8rem;
    background-color: rgba(0,0,0,0);
    outline: none;
    border-bottom: 0.2rem solid #acaaaa;
    padding-bottom: 0.8rem;
    padding-top: 3rem;
    width: 100%;
    color: #ffffff;
    transition: .2s;
}

.formulario form .nome-sobre .nome .name:focus{
    border-bottom-color: #7b2abf;
}

/* CAMPO DE SOBRENOME */

.formulario form .nome-sobre .sobrenome{
    position: relative;
    width: 50%;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
}

.formulario form .nome-sobre .sobrenome span{
    position: absolute;
    color: #acaaaa;
    top: 3rem;
    left: 0;
    font-size: 1.8rem;
    transition: .3s;
}

.formulario form .senha p{
    position: absolute;
    color: #acaaaa;
    top: 6.5rem;
    left: 0;
    font-size: 1.2rem;
}

.formulario form .nome-sobre .sobrenome .sname{
    font-size: 2rem;
    padding-bottom: 0.8rem;
    background-color: rgba(0,0,0,0);
    outline: none;
    border-bottom: 0.2rem solid #acaaaa;
    padding-bottom: 0.8rem;
    padding-top: 3rem;
    width: 100%;
    color: #ffffff;
    transition: .2s;
}

.formulario form .nome-sobre .sobrenome .sname:focus{
    border-bottom-color: #7b2abf;
}


/* EFEITO DE FLUATUAÇÃO NO SPAN DOS CAMPOS INPUT */

.formulario form .nome-sobre .nome input:focus ~ span,
.formulario form .nome-sobre .nome input:valid ~ span,
.formulario form .nome-sobre .sobrenome input:focus ~ span,
.formulario form .nome-sobre .sobrenome input:valid ~ span{
    transform: translateY(-1.8rem);
    font-size: 1.4rem;
}
/* =============================================== */

.formulario .termos{
    padding: 2rem;
    background: linear-gradient(110.24deg,hsla(0,0%,100%,.076) 36.53%,hsla(0,0%,100%,.17));
    border-radius: 0.8rem;
}

.formulario .termos p{
    color: #F0F0F0;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 140%;
    text-align: justify;
}

.formulario .termos span{
    color: #bac7ff;
}

.formulario .termos .btn-entrar{
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 12px rgba(0,0,0,.2);
}

.conteudo .conteudo-form .formulario .termos .btn-entrar{
    margin-bottom: 0;
}

.formulario .politica{
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 1.6rem 0;
    color: #F0F0F0;
}

.formulario .politica span a{
    color: #bac7ff;
}

/* RODAPÉ DA PÁGINA */

.footer-cadastro{
    margin-top: 4rem;
}



/* ============ MEDIA QUERIES ============== */
@media (max-width: 1305px){
    /* ========== PÁGINA PLANOS.HTML ========= */

    /* SEÇÃO PLANOS E PREÇOS */
    .section-planos .planos{
        width: 100%;
    }
}

@media (max-width: 600px){

    /* FORMULÁRIO PÁGINA LOGIN INDEX.HTML*/
    .mb-form{
        padding: 0 1.2rem;
    }

    section .grid .title{
        margin-top: 2rem;
    }

    section .grid .formulario .btn-provedor{
        font-size: 1.6rem;
    }

    /* RODAPÉ */
    footer{
        padding: 2rem 0;
    }
    footer .link-footer ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    .link-footer ul li a{
        font-size: 1.4rem;
    }

    /* ====== PÁGINA PLANOS.HTML ======*/

    /* SEÇÃO PLANOS E PREÇOS */
    .section-planos .planos{
        width: 100%;
    }

    .section-planos .planos .box-plan{
        background: transparent;
        padding: 4rem 2rem 0rem 2rem;
    }

    .section-planos .planos .box-plan .footer-box .btn{
        display: none;
    }

    .section-planos{
        position: relative;
        margin-bottom: 10rem;
        display: flex;
        justify-content: center;
    }

    .section-planos::after{
        content: "QUERO ESTE PLANO";
        position: absolute;
        background-color: #7b2abf;
        font-size: 1.6rem;
        padding: 1.5rem 5rem;
        border-radius: 2em;
        transition-duration: .5s;
        cursor: pointer;
        color: #F0F0F0;
        font-weight: 600;
        margin-top: 2rem;
        bottom: -8rem;
    }

}

@media (max-width: 360px){

    /* SEÇÃO INFORMAÇÕES PÁGINA LOGIN INDEX.HTML*/
    .info{
        margin-bottom: 2rem;
    }

    /* ====== PÁGINA PLANOS.HTML ======*/

    /* SEÇÃO PLANOS E PREÇOS */
    .section-planos .planos .box-plan{
        width: 34rem;
    }

}